body{
    margin: 0 auto;
}

.background{
    background-color: azure;
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
   
   

}

.main{
    background-color: azure;
    width: 80%;
    height: 520px;
    display: flex;
    justify-content: space-between;

}

.main-wall{
    background-color: cornsilk;
    width: 74%;
    height: 520px;
}

.column{
    background-color:white;
    width: 17.5%;
    height: 464px;
    border-radius: 10px;
    padding: 28px;
    border-radius: 10px;
}

.row1{
    background-color: azure;
    width: 100%;
    height: 260px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.row2{
    background-color:azure;
    width: 100%;
    height: 260px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


.right-row1{
    background-color: dimgray;
    width: 23%;
    height: 190px;
    border-radius: 10px;
    padding: 28px;
}

.left-row1{
    background-color: darkorchid;
    width: 59%;
    height: 190px;
    border-radius: 10px;
    padding: 28px;
}


.right-row2{
    background-color: black;
    width: 59%;
    height: 190px;
    border-radius: 10px;
    padding: 28px;
}

.left-row2{
    background-color: white;
    width: 23%;
    height: 190px;
    border-radius: 10px;
    padding: 28px;
}


.head-testimony {
    background-color: purple;
    height: 40px;
    display: flex;
}

.title-testimony {
    background-color: rebeccapurple;
    height: 70px;
}

.text-testimony {
    background-color: palevioletred;
    height: 80px;
}

.text-testimony-column {
    background-color: palevioletred;
    height: 354px;
}

.image-testimony img {
    height: 35px;
    width: 35px;
}

.name-testimony p {
    margin: 0;

}

.name-testimony h4 {
    margin: 0;

}




